:root {
  --clear-btn: rgb(255, 171, 171);
  --operator-btn: #d7d7d7;
  --number-btns: rgb(245, 193, 255);
  --equal-btn: rgb(181, 254, 181);
}



#js-calculator {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fff;
}

.operators {
  background-color: var(--operator-btn);
}

.num-dec-btns {
  background-color: var(--number-btns)
}

#js-calculator button {
  min-width: 4em;
  min-height: 4em;
  border: none;
}

#display {
  text-align: right;
  height: 2em;
  padding: 0.25em;
}

#button-container {
  display: grid;
  grid-template-areas: 
  "clear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
}

#clear {
  grid-area: clear;
  background-color: var(--clear-btn);
  border-top-left-radius: 0.25em;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
  border-top-right-radius: 0.25em;
}

#subtract {
  grid-area: subtract;
}

#add {
  grid-area: add;
}

#decimal {
  grid-area: decimal;
}

#equals {
  background-color: var(--equal-btn);
  grid-area: equals;
  border-bottom-right-radius: 0.25em;
}

#zero {
  grid-area: zero;
  border-bottom-left-radius: 0.25em;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}
